html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgba(168, 125, 71, 0.774);
    align-content: center;
    text-align: center;
}

#logo {
    height: 55px;
    width: 55;
    padding-top: 2px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #444444;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: right;
}

.navlink2 {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 1.3em;
    float: center;
}


.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 99%;
    background-color: gray;
    
    transition: background-color 0.4s ease;
}

.navlink2 a, .navlink a:link, .navlink2 a:visited, .navlink2 a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 30px;
    border-radius: 99%;
    background-color: gray;
    
    transition: background-color 0.4s ease;
}

.navlink a:hover, .navlink2 a:hover {
    transition: background-color 0.6s ease;
    background-color: #000000;
}



.mainForm {
    height: 16%;
    width: 25%;
    margin: 330 auto;
    font-size: 1.2em;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    background-color: #444444;
}

#contentControl{
    width: 100%;
    min-width: 100%;
    margin: 10 auto;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.getForm {
    align-content: center;
    text-align: center;
    width: 350px;
    margin: 10 auto;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.3em;
    width: 200px;
    background-color: gray;
    border-radius: 1px;
    border-color: black;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    border-radius: 90%
}

.characterList, .partyList {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 10 auto;
}

.character, .party {
    margin: 10 auto;
    padding: 30px;
    border-radius: 1px;
    border-color: black;
    border-style: solid;
    background-color: #444444;
    color: white;
    max-width: 50%;
    min-width: 24%;
}

label {
    margin-left: 1em;
    color: white;
}

select {
    background-color: gray;
    color: white;
    height: 25px;
}
#formsFlex {
    display: inline-flex;
    align-content: center;
    text-align: center;
}

#partyForm, #CharacterForm{
    align-content: center;
    text-align: center;
    width: 80%;
    margin: 10 auto;
    padding: 10px;
    border-radius: 5px;
    border: black;
    border-style: solid;
    background-color: #444444;
}

#partyForm2, #changePassword {
    align-content: center;
    text-align: center;
    margin: 10 auto;
    padding: 10px;
    border-radius: 5px;
    width: 600px;
    border-style: solid;
    background-color: #444444;
}

#content {
    display: flex;  
}



#partyRemoveForm, #CharacterRemoveForm {
    float: left;
    align-content: center;
    text-align: center;
    width: 80%;
    margin: 10 auto;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    background-color: #444444;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: darkgrey;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: black;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px black;
}

#errorMes {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}





